---
import ActiveOffer from "@components/ActiveOffer.astro";
import Hamburger from "@icons/Hamburger.astro";
import SearchIcon from "@icons/SearchIcon.astro";
import ShopCart from "@icons/ShopCart.astro";
import UserIcon from "@icons/UserIcon.astro";
import Dropdown from "../Dropdown.tsx";
---

<header>
  <ActiveOffer />

  <nav
    class="container mx-auto flex h-16 w-full items-center justify-between lg:my-3 [&>div]:mx-3"
  >
    <div class="inline-flex items-center gap-4">
      <Hamburger class="h-4 w-5 md:hidden" />
      <a href="/" class="!font-integral !text-2xl !font-extrabold">SHOP.CO</a>
    </div>
    <div
      class="hidden w-full max-w-80 items-center gap-6 max-lg:justify-center md:flex xl:max-w-96"
    >
      <Dropdown client:load />
      <a>On Sale</a>
      <a>New Arrivals</a>
      <a>Brands</a>
    </div>
    <div
      class="hidden w-full gap-3 rounded-full bg-secondary px-4 py-3 lg:flex xl:max-w-4xl"
    >
      <SearchIcon class="size-6 opacity-40" />
      <input placeholder="Search for products..." class="bg-secondary" />
    </div>
    <div class="flex w-24 items-center gap-3">
      <SearchIcon class="size-5 lg:hidden" />
      <a href="/cart">
        <ShopCart class="size-5" />
      </a>
      <UserIcon class="size-5" />
    </div>
  </nav>
</header>

<style>
  a {
    @apply font-satochi text-base xl:text-xl;
  }
</style>
