---

---

<section
  class="container max-[390px]:w-72 absolute w-11/12 top-0  -translate-y-1/2 right-1/2 flex translate-x-1/2 gap-y-8 rounded-[20px] bg-black px-6 py-10 text-white max-lg:flex-col lg:justify-between lg:px-16"
>
  <h3
    class="text-left max-lg:sm:text-center md:w-96 max-lg:md:mx-auto xl:w-[500px]"
  >
    STAY UP TO DATE ABOUT OUR LATEST OFFERS
  </h3>

  <div
    class="flex w-full flex-col gap-3 max-lg:max-w-80 max-lg:sm:mx-auto lg:w-96 self-center"
  >
    <div
      class="flex w-full items-center gap-3 overflow-hidden rounded-full bg-white pl-4 md:mx-auto"
    >
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
        <path
          d="M17.5 3.4375H2.5C2.25136 3.4375 2.0129 3.53627 1.83709 3.71209C1.66127 3.8879 1.5625 4.12636 1.5625 4.375V15C1.5625 15.4144 1.72712 15.8118 2.02015 16.1049C2.31317 16.3979 2.7106 16.5625 3.125 16.5625H16.875C17.2894 16.5625 17.6868 16.3979 17.9799 16.1049C18.2729 15.8118 18.4375 15.4144 18.4375 15V4.375C18.4375 4.12636 18.3387 3.8879 18.1629 3.71209C17.9871 3.53627 17.7486 3.4375 17.5 3.4375ZM10 9.97813L4.91016 5.3125H15.0898L10 9.97813ZM7.24922 10L3.4375 13.4937V6.50625L7.24922 10ZM8.63672 11.2719L9.36641 11.9414C9.53932 12.1 9.7654 12.1879 10 12.1879C10.2346 12.1879 10.4607 12.1 10.6336 11.9414L11.3633 11.2719L15.0898 14.6875H4.91016L8.63672 11.2719ZM12.7508 10L16.5625 6.50625V13.4937L12.7508 10Z"
          fill="black"
          fill-opacity="0.4"></path>
      </svg>

      <input
        type="email"
        placeholder="Enter your email address"
        class="h-10 w-full mr-2 text-sm"
      />
    </div>

    <button
      class="flex w-full items-center justify-center rounded-full bg-white py-3 font-satochi text-sm font-semibold text-black transition hover:opacity-75 md:mx-auto"
      >Subscribe to Newsletter</button
    >
  </div>
</section>
