---

---

<div class="bg-black flex items-center text-white justify-center text-center text-md font-light xs:text-xs xs:h-9 h-16">
  <p>Sign up and get 20% off to your first order. <a class="underline underline-offset-4 font-semibold">Sign Up Now</a></p>
</div>