---
import Footer from "@components/home/Footer.astro";
import Header from "../components/home/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/src/styles/fonts.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  h1 {
    @apply text-2xl font-extrabold;
  }
  h3 {
    @apply text-balance text-center font-integral text-3xl font-bold xl:text-[40px] xl:leading-[45px];
  }
  .view-all {
    @apply mx-auto flex h-14 w-full items-center justify-center rounded-full border border-black/10 px-4 py-2 text-center font-satochi text-sm font-medium text-black xs:w-84;
    &:hover {
      @apply bg-black/20 transition;
    }
  }
</style>
